In [60]:
import random
import os
data_path = os.path.abspath('../connection_logs/')
outfile = os.path.join(data_path,'conn_sample.log')
logfile = os.path.join(data_path,'conn.log')

sample_percent = 1
num_lines = sum(1 for line in open(logfile))
slines = set(sorted(random.sample(xrange(num_lines), int(num_lines * sample_percent))))
print "%s lines in %s, using a sample of %s lines" %(num_lines, logfile, len(slines))

22694356 lines in /home/haris/dev/projects/Security-Data-Analysis/connection_logs/conn.log, using a sample of 226943 lines

In [72]:
outfile = os.path.join(data_path,'conn_sample.log')

f = open(outfile, 'w+')
i = open(logfile, 'r+')
linecount = 0
for line in i:
    if linecount in slines:
        f.write(line)
    linecount += 1
f.close()
i.close()

In [73]:
import pandas as pd
conn_df = pd.read_csv(outfile, sep="\t", header=None, names=['ts','uid','id_orig_h','id_orig_p','id_resp_h','id_resp_p','proto','service','duration','orig_bytes','resp_bytes','conn_state','local_orig','missed_bytes','history','orig_pkts','orig_ip_bytes','resp_pkts','resp_ip_bytes','tunnel_parents','threat','sample'])

In [74]:
conn_df.head()

,ts,uid,id_orig_h,id_orig_p,id_resp_h,id_resp_p,proto,service,duration,orig_bytes,...,local_orig,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents,threat,sample
0,1.331901e+09,CHwzvt23aT64GYTHzl,192.168.202.79,50646,192.168.229.251,80,tcp,http,0.010000,161,...,-,0,ShADfFa,4,377,3,382,(empty),NaN,NaN
1,1.331901e+09,C2lDqO30XDNZpoG1Ne,192.168.202.76,51667,157.55.235.162,80,tcp,-,3.010000,0,...,-,0,S,2,104,0,0,(empty),NaN,NaN
2,1.331901e+09,Cu10yF4gDFIPaXDPhb,192.168.202.76,51697,213.199.179.152,40028,tcp,-,3.000000,0,...,-,0,S,2,104,0,0,(empty),NaN,NaN
3,1.331901e+09,CVXO2c4rlRW2QXraYk,192.168.202.79,47314,192.168.229.153,49160,tcp,-,0.010000,198,...,-,0,ShADdfFa,5,466,4,334,(empty),NaN,NaN
4,1.331901e+09,CSNY9e2h6oz8fDXn09,192.168.202.79,47403,192.168.229.153,49160,tcp,-,0.100000,198,...,-,0,ShADdfFa,6,518,4,334,(empty),NaN,NaN

In [75]:
from datetime import datetime
conn_df['ts'] = [str(datetime.fromtimestamp(float(date))).split('.')[0] for date in conn_df['ts'].values]

In [76]:
conn_df.head()

,ts,uid,id_orig_h,id_orig_p,id_resp_h,id_resp_p,proto,service,duration,orig_bytes,...,local_orig,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents,threat,sample
0,2012-03-16 14:30:01,CHwzvt23aT64GYTHzl,192.168.202.79,50646,192.168.229.251,80,tcp,http,0.010000,161,...,-,0,ShADfFa,4,377,3,382,(empty),NaN,NaN
1,2012-03-16 14:30:04,C2lDqO30XDNZpoG1Ne,192.168.202.76,51667,157.55.235.162,80,tcp,-,3.010000,0,...,-,0,S,2,104,0,0,(empty),NaN,NaN
2,2012-03-16 14:30:32,Cu10yF4gDFIPaXDPhb,192.168.202.76,51697,213.199.179.152,40028,tcp,-,3.000000,0,...,-,0,S,2,104,0,0,(empty),NaN,NaN
3,2012-03-16 14:30:55,CVXO2c4rlRW2QXraYk,192.168.202.79,47314,192.168.229.153,49160,tcp,-,0.010000,198,...,-,0,ShADdfFa,5,466,4,334,(empty),NaN,NaN
4,2012-03-16 14:30:56,CSNY9e2h6oz8fDXn09,192.168.202.79,47403,192.168.229.153,49160,tcp,-,0.100000,198,...,-,0,ShADdfFa,6,518,4,334,(empty),NaN,NaN

In [71]:
str(datetime.fromtimestamp(float(1331901124))).split('.')[0]

'2012-03-16 14:32:04'

In [32]:
import numpy as np
f = lambda x : int(x) if isinstance(x,int) else np.nan
conn_df['orig_bytes'] = [f(x) for x in conn_df['orig_bytes'].values]
conn_df['resp_bytes'] = [f(x) for x in conn_df['resp_bytes'].values]
conn_df['orig_ip_bytes'] = [f(x) for x in conn_df['orig_ip_bytes'].values]
conn_df['resp_ip_bytes'] = [f(x) for x in conn_df['resp_ip_bytes'].values]

In [26]:
conn_df.dropna()

Empty DataFrame
Columns: [ts, uid, id.orig_h, id.orig_p, id.resp_h, id.resp_p, proto, service, duration, orig_bytes, resp_bytes, conn_state, local_orig, missed_bytes, history, orig_pkts, orig_ip_bytes, resp_pkts, resp_ip_bytes, tunnel_parents, threat, sample]
Index: []

[0 rows x 22 columns]

In [77]:
conn_df.to_csv(header=True,path_or_buf='conn_sample.csv')

In [38]:
# print conn_df.dtypes
conn_df.describe()

,id_orig_p,id_resp_p,orig_bytes,resp_bytes,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,threat,sample
count,226943.000000,226943.000000,0.0,0.0,226943.0,226943.000000,2.269430e+05,226943.000000,226943.000000,0.0,0.0
mean,42687.747831,20456.406662,NaN,NaN,0.0,1.421524,1.305452e+02,0.858515,154.055093,NaN,NaN
std,15315.241056,20643.076920,NaN,NaN,0.0,15.956985,3.415500e+03,10.986112,3489.226115,NaN,NaN
min,1.000000,0.000000,NaN,NaN,0.0,0.000000,0.000000e+00,0.000000,0.000000,NaN,NaN
25%,35983.000000,2115.000000,NaN,NaN,0.0,1.000000,4.400000e+01,0.000000,0.000000,NaN,NaN
50%,44316.000000,10243.000000,NaN,NaN,0.0,1.000000,4.800000e+01,1.000000,40.000000,NaN,NaN
75%,54416.000000,37794.000000,NaN,NaN,0.0,1.000000,6.000000e+01,1.000000,40.000000,NaN,NaN
max,65535.000000,65535.000000,NaN,NaN,0.0,6410.000000,1.102018e+06,4568.000000,992833.000000,NaN,NaN

In [51]:
do = conn_df.loc[conn_df['orig_ip_bytes'] > 1000]
dr = conn_df.loc[conn_df['resp_ip_bytes'] > 1000]

In [58]:
res = pd.concat([do,dr])
res.head()

,ts,uid,id_orig_h,id_orig_p,id_resp_h,id_resp_p,proto,service,duration,orig_bytes,...,local_orig,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents,threat,sample
7,2012-03-16 14:30:03.900,ClEtiC4YocVbb9od1b,192.168.202.79,46541,192.168.229.254,443,tcp,ssl,0.020000,NaN,...,-,0,ShADadfrF,9,1002,11,1362,(empty),NaN,NaN
30,2012-03-16 14:31:29.150,CVGWEc1QD76oWA0Di5,192.168.202.79,46225,192.168.229.251,445,tcp,-,0.340000,NaN,...,-,0,ShADdFf,12,1062,7,1026,(empty),NaN,NaN
5691,2012-03-16 14:47:23.540,CLYs5E1Lib4WGM6Ae6,192.168.202.79,51866,192.168.229.254,443,tcp,ssl,0.270000,NaN,...,-,0,ShADadfrF,15,1331,13,1744,(empty),NaN,NaN
5727,2012-03-16 14:47:28.550,CiHUcz4vx0HtXD0KVj,192.168.202.79,52070,192.168.229.254,443,tcp,ssl,0.260000,NaN,...,-,0,ShADadfrF,15,1324,13,1744,(empty),NaN,NaN
5750,2012-03-16 14:47:33.700,COuvcS33WkUUdxXDO1,192.168.202.79,52288,192.168.229.254,443,tcp,ssl,0.270000,NaN,...,-,0,ShADadfrF,15,1339,13,1744,(empty),NaN,NaN

In [45]:
dt = conn_df.loc[(conn_df['orig_ip_bytes'] > 1000) or (conn_df['resp_ip_bytes'] > 1000) ]
dt.describe()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [41]:
import pandas as pd
S = pd.Series(dt['id_orig_h'])
counts = S.value_counts()
counts

2001:dbb:c18:202:20c:29ff:fe18:b667     460
192.168.202.110                         362
192.168.202.102                         359
192.168.203.63                          132
192.168.202.140                         120
192.168.202.79                          102
192.168.202.118                          62
192.168.202.96                           49
192.168.202.138                          45
192.168.202.141                          30
192.168.202.76                           22
192.168.204.45                           18
2001:dbb:c18:202:20c:29ff:fe93:571e      17
2001:dbb:c18:202:20c:29ff:fe41:4be7      13
192.168.202.81                           10
192.168.204.70                           10
192.168.202.108                           9
192.168.202.65                            8
192.168.203.45                            7
192.168.202.112                           7
192.168.203.64                            6
192.168.203.62                            6
192.168.202.1                             5
192.168.202.143                           5
192.168.202.68                            5
192.168.202.125                           4
192.168.202.115                           3
192.168.202.109                           3
192.168.202.103                           3
192.168.202.94                            3
                                       ...
192.168.202.91                            3
192.168.202.136                           3
192.168.202.64                            2
192.168.202.49                            2
192.168.202.73                            2
192.168.202.4                             2
192.168.229.156                           2
192.168.202.75                            2
192.168.202.107                           2
fe80::88f4:9f4d:feec:8072                 2
192.168.202.122                           2
192.168.27.100                            1
fe80::11a:f507:d853:a03d                  1
192.168.24.103                            1
192.168.202.150                           1
192.168.202.80                            1
192.168.202.113                           1
192.168.203.61                            1
2001:dbb:c18:202:a1dd:6355:28ae:da1e      1
192.168.202.62                            1
192.168.202.63                            1
fe80::c62c:3ff:fe30:7333                  1
fe80::d840:5635:ef48:b032                 1
192.168.21.102                            1
192.168.21.103                            1
192.168.202.87                            1
192.168.202.101                           1
192.168.25.100                            1
192.168.21.101                            1
192.168.202.100                           1
Name: id_orig_h, dtype: int64

In [10]:
conn_df.dropna()

Empty DataFrame
Columns: [ts, uid, id.orig_h, id.orig_p, id.resp_h, id.resp_p, proto, service, duration, orig_bytes, resp_bytes, conn_state, local_orig, missed_bytes, history, orig_pkts, orig_ip_bytes, resp_pkts, resp_ip_bytes, tunnel_parents, threat, sample]
Index: []

[0 rows x 22 columns]

In [96]:
f("12312341")

''

In [51]:
df_new = pd.DataFrame(conn_df[conn_df['orig_bytes'] == pd.Series([x for x in conn_df['orig_bytes'] if isinstance(x,int)])])

ValueError: Can only compare identically-labeled Series objects

In [9]:
orig_h = pd.Series(conn_df['id.orig_h'])
counts = (orig_h.value_counts())

print counts

192.168.204.45                         55977
192.168.202.83                         48989
192.168.202.110                        44935
192.168.202.138                        23472
192.168.202.79                         16971
192.168.202.140                         9171
192.168.202.101                         5087
192.168.202.108                         4102
192.168.202.102                         3263
192.168.202.94                          2256
192.168.202.4                           1440
192.168.202.153                         1296
192.168.202.76                          1036
192.168.202.96                           802
192.168.202.222                          710
192.168.202.118                          695
2001:dbb:c18:202:20c:29ff:fe18:b667      494
192.168.202.87                           327
192.168.203.45                           319
2001:dbb:c18:202:20c:29ff:fe93:571e      299
2001:dbb:c18:202:20c:29ff:fe41:4be7      275
192.168.202.144                          262
192.168.23.100                           249
192.168.202.150                          227
192.168.202.143                          225
192.168.202.100                          224
192.168.202.80                           194
192.168.202.98                           189
192.168.202.136                          180
192.168.202.90                           172
                                       ...
192.168.202.40                             1
192.168.202.43                             1
192.168.202.45                             1
192.168.202.47                             1
192.168.202.46                             1
192.168.1.254                              1
192.168.202.60                             1
192.168.23.103                             1
192.168.28.202                             1
192.168.26.254                             1
fe80::20c:29ff:fe41:4be7                   1
192.168.24.203                             1
fe80::beae:c5ff:fe9e:f3b6                  1
192.168.22.101                             1
fe80::a00:27ff:fec4:d4ca                   1
169.254.183.85                             1
192.168.202.33                             1
192.168.23.152                             1
192.168.227.83                             1
fe80::20c:29ff:febd:1154                   1
192.168.202.57                             1
192.168.229.153                            1
192.168.21.103                             1
2001:dbb:c18:202:ca60:ff:fe1a:aa3c         1
fe80::f2ad:4eff:fe00:d7b0                  1
192.168.28.103                             1
fe80::d69a:20ff:fef9:b49c                  1
192.168.203.66                             1
192.168.22.253                             1
fe80::20c:29ff:fe4d:6b94                   1
Name: id.orig_h, dtype: int64

In [32]:
df_send = pd.DataFrame(conn_df[conn_df['id.orig_h']=="192.168.202.83"])
df_resv = pd.DataFrame(conn_df[conn_df['id.resp_h']=="192.168.204.45"])

In [26]:
X1 = df_send['ts'].tolist()
y1 = df_send['orig_bytes']
y2 = df_send['resp_bytes'].tolist()

In [34]:
df_resv['resp_bytes']

36411     0
51322     0
52725     -
52734     0
155175    0
202138    0
202494    0
206702    0
Name: resp_bytes, dtype: object

In [27]:
%matplotlib 

import matplotlib.pyplot as plt

print type(y1)
print y1

# plt.plot((y1))

Using matplotlib backend: TkAgg
<class 'pandas.core.series.Series'>
13238     -
13239     -
13240     -
13241     -
13242     -
13243     -
13244     -
13245     -
13246     -
13250     -
13256     -
13257     -
13258     -
13259     -
13261     -
13262     -
13264     -
13265     -
13266     -
13267     -
13268     -
13269     -
13270     -
13279     -
13280     -
13281     -
13283     -
13284     -
13285     -
13286     -
         ..
165116    -
165117    -
165129    -
165130    -
165165    -
165170    -
165194    -
165195    -
165212    -
165218    -
165219    -
165385    -
165397    -
165398    -
165399    -
165400    -
165401    -
165414    -
165545    -
165546    -
165547    -
165548    -
165557    -
165559    -
165577    -
165585    -
165586    -
165598    -
165613    -
165629    -
Name: orig_bytes, dtype: object