In [53]:
infile = '/home/haris/dev/projects/Security-Data-Analysis/connection_logs/conn_1000000.log'
import pandas as pd
columns = ['ts','uid','id_orig_h','id_orig_p','id_resp_h','id_resp_p','proto','service','duration','orig_bytes','resp_bytes','conn_state','local_orig','missed_bytes','history','orig_pkts','orig_ip_bytes','resp_pkts','resp_ip_bytes','tunnel_parents','threat','sample']
conn_df = pd.read_csv(infile, sep="\t", header=None, names=columns)

In [60]:
orig_l = ['192.168.202.79']#,'192.168.202.83','192.168.202.101','192.168.202.76']

In [66]:
new_df = conn_df[(conn_df['id_orig_h'].isin(orig_l)) & (conn_df['orig_ip_bytes']<20000) & (conn_df['resp_ip_bytes']<20000)].sort_values('ts')

In [67]:
from datetime import datetime
new_df['ts'] = [str(datetime.fromtimestamp(float(138540600+date+4*i))).split('.')[0] for i,date in enumerate(new_df['ts'].values,0)]

In [68]:
new_df.head(3)

,ts,uid,id_orig_h,id_orig_p,id_resp_h,id_resp_p,proto,service,duration,orig_bytes,...,local_orig,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents,threat,sample
0,2016-08-06 03:00:00,CCUIP21wTjqkj8ZqX5,192.168.202.79,50463,192.168.229.251,80,tcp,-,-,-,...,-,0,Fa,1,52,1,52,(empty),NaN,NaN
1,2016-08-06 03:00:04,Csssjd3tX0yOTPDpng,192.168.202.79,46117,192.168.229.254,443,tcp,-,-,-,...,-,0,dDafFr,3,382,9,994,(empty),NaN,NaN
2,2016-08-06 03:00:08,CHEt7z3AzG4gyCNgci,192.168.202.79,50465,192.168.229.251,80,tcp,http,0.010000,166,...,-,0,ShADfFa,4,382,3,382,(empty),NaN,NaN

In [69]:
new_df.tail(3)

,ts,uid,id_orig_h,id_orig_p,id_resp_h,id_resp_p,proto,service,duration,orig_bytes,...,local_orig,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents,threat,sample
903300,2016-08-31 02:23:40,CfNmjZ1b2RcbkLpXr1,192.168.202.79,47159,192.168.207.4,53,udp,dns,-,-,...,-,0,Dd,1,58,1,115,(empty),NaN,NaN
903287,2016-08-31 02:23:44,C2eOf711EWSiw1zlV3,192.168.202.79,43383,192.168.207.4,53,udp,dns,-,-,...,-,0,Dd,1,54,1,111,(empty),NaN,NaN
903301,2016-08-31 02:23:48,CppETz489js7BG0jck,192.168.202.79,39770,192.168.207.4,53,udp,dns,-,-,...,-,0,Dd,1,59,1,116,(empty),NaN,NaN

In [70]:
new_df.to_csv(header=True,path_or_buf='conn_106_orig.csv')

In [25]:
1470441600-1331901000

138540600

In [71]:
new_df.count()

ts                539042
uid               539042
id_orig_h         539042
id_orig_p         539042
id_resp_h         539042
id_resp_p         539042
proto             539042
service           539042
duration          539042
orig_bytes        539042
resp_bytes        539042
conn_state        539042
local_orig        539042
missed_bytes      539042
history           539042
orig_pkts         539042
orig_ip_bytes     539042
resp_pkts         539042
resp_ip_bytes     539042
tunnel_parents    539042
threat                 0
sample                 0
dtype: int64

In [16]:
new_df[(new_df['orig_ip_bytes']<20000) & (new_df['resp_ip_bytes']<20000)].count()

ts                975546
uid               975546
id_orig_h         975546
id_orig_p         975546
id_resp_h         975546
id_resp_p         975546
proto             975546
service           975546
duration          975546
orig_bytes        975546
resp_bytes        975546
conn_state        975546
local_orig        975546
missed_bytes      975546
history           975546
orig_pkts         975546
orig_ip_bytes     975546
resp_pkts         975546
resp_ip_bytes     975546
tunnel_parents    975546
threat                 0
sample                 0
dtype: int64